<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aleengo.iconvert">

    <!-- Permission to access Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.aleengo.iconvert.application.ConvertApp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name="com.aleengo.iconvert.debug.LeakLoggerService" />

        <activity
            android:name="com.aleengo.iconvert.ui.home.ActivityHome"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.aleengo.iconvert.ui.search.ActivitySearchCurrency"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!-- Defines ActivitySearchCurrency as the searchable -->
            <meta-data
                android:name="android.app.searchable"
                android:value="@xml/searchable" />
            <!--
                Defines ActivitySearchCurrency as the
                target for searches (it receives ACTION_SEARCH intent)
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.SearchCurrencyActivity" />
        </activity>
    </application>

</manifest>