<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kimboofactory.iconvert">

    <!-- Permission to access Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".application.IConvertApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.home.views.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.search.views.SearchCurrencyActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <!-- Defines SearchCurrencyActivity as the searchable -->
            <meta-data
                android:name="android.app.searchable"
                android:value="@xml/searchable" />
            <!--
                Defines SearchCurrencyActivity as the
                target for searches (it receives ACTION_SEARCH intent)
            -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.SearchCurrencyActivity" />
        </activity>
    </application>

</manifest>